<%
  active = 'view'
  title = 'View Log'
  pageClass = 'view'
%>
<div class="fluid-padding">
<div class="container">
	<div class="row">
		<div class="col-lg-5 col-md-12 ">
			<div id="mapContent">
				<div id="mapInner">
					<div id="mapLoading">
						<p class="alert alert-info col-md-6 col-md-offset-3" id="mapLoadingMsg">Map Loading</p>
						<p class="alert alert-warning col-md-6 col-md-offset-3 hide" id="mapNoGpsError">No GPS data associated with this log</p>
					</div>

					<div class="btn-group btn-group-justified" style="margin-bottom: 5px;">
		  			<div class="btn-group">
		    			<button type="button" class="btn btn-default" id="playMapBtn"><span class="glyphicon glyphicon-play"></span> Play Track</button>
		  			</div>
						<% /*<div class="btn-group">
						  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						    Layers <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu" role="menu">
						    <li><a href="#">GPS Track</a></li>
						    <li><a href="#">Waypoints</a></li>
						  </ul>
						</div> */ %>
						<div class="btn-group">
							<button class="btn btn-success" type="button" data-toggle="modal" data-target="#mapModal">View 3D Map</button>
						</div>
					</div>
					<div id="map-canvas"></div><br />
				</div>

				<p class="text-right"><strong>Download this log: </strong>
					<a href="/view/<%= log.id %>.kml" class="btn btn-default"><span class="glyphicon glyphicon-download-alt"></span> KML</a>
					<a href="https://arduplotter-logs-ie.s3.amazonaws.com/<%= log.id %>.log" class="btn btn-default"><span class="glyphicon glyphicon-download-alt"></span> Log</a>
				</p>


			</div>
		</div>

		<div class="col-md-12 col-lg-7">
				<ul class="nav nav-tabs">
					<% if (log.logContains.curr) { %><li><a href="#power" data-toggle="tab">Power</a></li><% } %>
					<% if (log.logContains.ctun) { %><li><a href="#altitude" data-toggle="tab">Altitude</a></li><% } %>
					<% if (log.logContains.att) { %><li><a href="#attitude" data-toggle="tab">Attitude</a></li><% } %>
					<% if (log.logContains.gps) { %><li><a href="#gps" data-toggle="tab">GPS</a></li><% } %>
					<% if (log.logContains.imu) { %><li><a href="#imu" data-toggle="tab">IMU</a></li><% } %>
					<% if (log.logContains.ntun) { %><li><a href="#ntun" data-toggle="tab">NTUN</a></li><% } %>
					<% if (log.logContains.mag) { %><li><a href="#mag" data-toggle="tab">MAG</a></li><% } %>
					<li class="active"><a href="#messages" data-toggle="tab">Messages</a></li>
					<li><a href="#params" data-toggle="tab">Params</a></li>
				</ul>

				<div id="tabbed-content" class="tab-content data-graphs">
					<div id="loading" data-id="<%= log.id %>">
					<div class="progress">
					  <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
					    <span class="sr-only"></span>
					  </div>
					</div>
				</div>

	         
	        <% if (log.logContains.curr) { %>
					<div class="tab-pane" id="power">
						<div class="row">
							<div class="col-md-6">
								<div class="panel panel-primary">
									<div class="panel-heading">
										<button class="btn btn-xs btn-primary pull-right toggle-size"><span class="glyphicon glyphicon-resize-full"></span></button>
										<h3 class="panel-title">Total Current</h3>
									</div>
									<div class="panel-body">
										<div id="totcurrent-graph" class="flot-graph"  style="width:100%;height:300px;"></div>
										<p><strong>Total Current Used</strong> <span id="totCurrent"></span> mA</p>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="panel panel-primary">
									<div class="panel-heading">
										<button class="btn btn-xs btn-primary pull-right toggle-size"><span class="glyphicon glyphicon-resize-full"></span></button>
										<h3 class="panel-title">Current over time</h3>
									</div>
									<div class="panel-body">
										<div id="current-graph" class="flot-graph" style="width:100%;height:300px;"></div>
										<p><strong>Average Current</strong> <span id="avgCurrent"></span> A</p>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="panel panel-primary">
									<div class="panel-heading">
										<button class="btn btn-xs btn-primary pull-right toggle-size visible-md visible-lg"><span class="glyphicon glyphicon-resize-full"></span></button>
										<h3 class="panel-title">Voltage over time</h3>
									</div>
									<div class="panel-body"><div id="voltage-graph" class="flot-graph" style="width:100%;height:300px;"></div></div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="panel panel-primary">
									<div class="panel-heading">
										<h3 class="panel-title">Flight Duration Calculator</h3>
									</div>
									<div class="panel-body">
										<form role="form" class="form-horizontal">
	  									<div class="form-group">
										    <label for="batteryCapacityInput" class="col-sm-4 control-label">Battery Capacity</label>
								        <div class="col-sm-8">
										    	<input type="number" class="form-control flight-duration-cal" id="batteryCapacityInput" value="" disabled>
									    	</div>
										  </div>
										  <div class="form-group">
										    <label for="currentDrawInput" class="col-sm-4 control-label">Average Current Draw</label>
								        <div class="col-sm-8">
										    	<input type="number" class="form-control flight-duration-cal" id="currentDrawInput" value="" disabled>
									    	</div>
										  </div>
										  <div class="form-group">
										    <label for="estFlightDurationInput" class="col-sm-4 control-label">Estimated Flight Duration</label>
										    <div class="col-sm-8">
													<div class="input-group">
											    	<input type="number" class="form-control" id="estFlightDurationInput" value="" disabled>
														<span class="input-group-addon">mins</span>
													</div>
												</div>
											</div>
											<div class="form-group">
										    <label for="flightDuration" class="col-sm-4 control-label">Actual Flight Duration</label>
										    <div class="col-sm-8">
													<div class="input-group">
											    	<input type="number" class="form-control" id="flightDuration" value="" disabled>
														<span class="input-group-addon">mins</span>
													</div>
												</div>
											</div>
										</form>
										<div class="callout callout-info">
											<h4>About this calculator</h4>
											<p>This is a quick and dirty calculation using the Battery Capacity parameter, and the calculated average current draw as measured by your APM.</p>
											<p>Please don't rely on this calculation for future flights! I just found it interesting to compare theortical flight times with actual.</p>
											<p><strong>Also note this calculator incorporates the &quot;80%&quot; rule.</strong></p>
										</div>
									</div>
								</div>
							</div>


						</div>
					</div><!-- /power tab -->
					<% } %>
		          
					<% if (log.logContains.curr) { %>
		      <div class="tab-pane" id="altitude">
						<div class="row">
							<div class="col-md-6">
								<div class="panel panel-primary">
									<div class="panel-heading">
										<button class="btn btn-xs btn-primary pull-right toggle-size"><span class="glyphicon glyphicon-resize-full"></span></button>
										<h3 class="panel-title">Altitude</h3>
									</div>
									<div class="panel-body">
										<div id="altitude-graph" class="flot-graph" style="width:100%;height:300px;"></div>
										<p class="alert alert-info alert-compressed"><span class="glyphicon glyphicon-info-sign"></span> You can use your mouse wheel to zoom in/out</p>
									</div>
								</div>
							</div>

							<div class="col-md-6">
								<div class="panel panel-primary">
									<div class="panel-heading">
										<button class="btn btn-xs btn-primary pull-right toggle-size"><span class="glyphicon glyphicon-resize-full"></span></button>
										<h3 class="panel-title">Throttle</h3>
									</div>
									<div class="panel-body"><div id="throttle-graph" class="flot-graph" style="width:100%;height:300px;"></div></div>
								</div>
							</div>

						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="panel panel-primary">
									<div class="panel-heading">
										<button class="btn btn-xs btn-primary pull-right toggle-size"><span class="glyphicon glyphicon-resize-full"></span></button>
										<h3 class="panel-title">Climb Rate</h3>
									</div>
									<div class="panel-body"><div id="crate-graph" class="flot-graph" style="width:100%;height:300px;"></div></div>
								</div>
							</div>
						</div>
					</div><!-- /altitude tab -->
		      <% } %>      

					<% if (log.logContains.att) { %>
		      <div class="tab-pane" id="attitude">
						<div class="row">
							<div class="col-md-6">
								<div class="panel panel-primary">
									<div class="panel-heading">
										<button class="btn btn-xs btn-primary pull-right toggle-size"><span class="glyphicon glyphicon-resize-full"></span></button>
										<h3 class="panel-title">Roll</h3>
									</div>
									<div class="panel-body"><div id="attitude-roll-graph" class="flot-graph" style="width:100%;height:300px;"></div></div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="panel panel-primary">
									<div class="panel-heading">
										<button class="btn btn-xs btn-primary pull-right toggle-size"><span class="glyphicon glyphicon-resize-full"></span></button>
										<h3 class="panel-title">Pitch</h3>
									</div>
									<div class="panel-body"><div id="attitude-pitch-graph" class="flot-graph" style="width:100%;height:300px;"></div></div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="panel panel-primary">
									<div class="panel-heading">
										<button class="btn btn-xs btn-primary pull-right toggle-size"><span class="glyphicon glyphicon-resize-full"></span></button>
										<h3 class="panel-title">Yaw</h3>
									</div>
									<div class="panel-body"><div id="attitude-yaw-graph" class="flot-graph" style="width:100%;height:300px;"></div></div>
								</div>
							</div>
						</div>
		      </div><!-- /attitude tab -->
		      <% } %>

					<% if (log.logContains.gps) { %>
		      <div class="tab-pane" id="gps">
						<div class="row">
							<div class="col-md-6">
								<div class="panel panel-primary">
									<div class="panel-heading">
										<button class="btn btn-xs btn-primary pull-right toggle-size"><span class="glyphicon glyphicon-resize-full"></span></button>
										<h3 class="panel-title">Status &amp; HDop</h3>
									</div>
									<div class="panel-body"><div id="gps-status-graph" class="flot-graph" style="width:100%;height:300px;"></div></div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="panel panel-primary">
									<div class="panel-heading">
										<button class="btn btn-xs btn-primary pull-right toggle-size"><span class="glyphicon glyphicon-resize-full"></span></button>
										<h3 class="panel-title">Satellites</h3>
									</div>
									<div class="panel-body"><div id="gps-satellites-graph" class="flot-graph" style="width:100%;height:300px;"></div></div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="panel panel-primary">
									<div class="panel-heading">
										<button class="btn btn-xs btn-primary pull-right toggle-size"><span class="glyphicon glyphicon-resize-full"></span></button>
										<h3 class="panel-title">Speed</h3>
									</div>
									<div class="panel-body">
										<div id="gps-speed-graph" class="flot-graph" style="width:100%;height:300px;"></div>
										<p><strong>Average Speed:</strong> <span id="avgSpeed"></span>m/s</p>
									</div>
								</div>
							</div>
						</div>
		      </div><!-- /gps tab -->
		      <% } %>

					<% if (log.logContains.imu) { %>
		      <div class="tab-pane" id="imu">
						<div class="row">
							<div class="col-md-12">
								<div class="panel panel-primary">
									<div class="panel-heading">
										<h3 class="panel-title">Vibrations</h3>
									</div>
									<div class="panel-body"><div id="vibrations-graph" class="flot-graph" style="width:100%;height:500px;"></div></div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="callout callout-info">
									<h4>Vibrations Graph Information</h4>
									<p>Horizontal lines mark the acceptable vibrations for ArduPilot. If you have a lot of measurements over these ranges you may want to look at various vibration dampening methods. More infomation can be found on the <a href="http://copter.ardupilot.com/wiki/common-diagnosing-problems-using-logs/#Vibrations" target="_blank">ardupilot website.</a></p>
									<p>It is also worth noting your IMU has been run though the <a href="http://en.wikipedia.org/wiki/Ramer%E2%80%93Douglas%E2%80%93Peucker_algorithm" target="_blank">Ramer–Douglas–Peucker</a> algorithm to reduce the number of points plotted, but without lossing the over all shape of the graph</p>

								</div>
							</div>
						</div>
					</div>
					<% } %>

					<% if (log.logContains.ntun) { %>
		      <div class="tab-pane" id="ntun">
						<div class="row">
							<div class="col-md-12">
								<div class="panel panel-primary">
									<div class="panel-heading">
										<h3 class="panel-title">NTUN Data</h3>
									</div>
									<div class="panel-body">
										<div id="ntun-velocity-graph" class="flot-graph" style="width:100%;height:500px;"></div>
										<div id="ntun-velocity-overview-graph" class="flot-graph" style="width:100%;height:50px;"></div>
										<p>Click <a href="http://copter.ardupilot.com/wiki/loiter-mode/#Verifying_Loiter_performance_with_dataflash_logs" target="_blank">here</a> for more information about this graph</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<% } %>

					<% if (log.logContains.mag) { %>
		      <div class="tab-pane" id="mag">
						<div class="row">
							<div class="col-md-12">
								<div class="panel panel-primary">
									<div class="panel-heading">
										<button class="btn btn-xs btn-primary pull-right toggle-size"><span class="glyphicon glyphicon-resize-full"></span></button>
										<h3 class="panel-title">MAG Data</h3>
									</div>
									<div class="panel-body">
										<div id="mag-graph" class="flot-graph" style="width:100%;height:500px;"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<% } %>

					<div class="tab-pane active" id="messages">
						<div class="row">
							<div class="col-md-12" id="logMessagesContent">
							<% /*
								<table class="table" id="errors">
									<tr>
										<th class="text-center active">Brownout</th>
										<th class="text-center success">Compass</th>
										<th class="text-center warning">GPS</th>
										<th class="text-center danger">Dupe Log Data</th>
										<th class="text-center">Event/Failsafe</th>
										<th class="text-center">Parameters</th>
										<th class="text-center">Empty</th>
										<th class="text-center">VCC</th>
									</tr>
									<tr>
										<td class="text-center active">PASS</td>
										<td class="text-center success">PASS</td>
										<td class="text-center warning">PASS</td>
										<td class="text-center danger">PASS</td>
										<td class="text-center info">PASS</td>
										<td class="text-center">PASS</td>
										<td class="text-center">PASS</td>
										<td class="text-center">PASS</td>
									</tr>
								</table>
*/ %>
			      	
	          	</div>
	          </div>
	          <div class="row">
	          	<div class="col-md-12 hide" id="logWarnings">
	          		<h3>ArduPlotter Warnings</h3>
	          		<p>Below are any problems ArduPlotter had whilst processing your log</p>
	          		<div id="logWarningsContent">
	          			No Problems
	          		</div>
	          	</div>
          	</div>
		      </div>


		      <div class="tab-pane" id="params">

			      <div class="col-md-6 col-md-offset-3">
			        <table class="table table-hover table-striped" id="paramsTable">
			        	<thead>
				          <tr>
				            <th>Parameter</th>
				            <th>Value</th>
				          </tr>
			          </thead>
			          <tbody>
			          </tbody>
	 						</table>
			      </div>
			    </div>
		    </div>
		</div>
	</div>
</div>


<div class="modal fade" id="mapModal" tabindex="-1" role="dialog" aria-labelledby="mapModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="mapModalLabel">3D Map</h4>
      </div>
      <div class="modal-body">
        <p class="text-info">Please note the new 3D map is still very much in Beta!</p>
        <p>It relies heavily on your log GPS data. If your GPS data has glitches, starts off at (0,0), or has any other problems, the map may not react well</p>
        <p><strong>Known Problems</strong></p>
        <ul>
        	<li>If you move the view around before the map is fully loaded you may get very weird views</li>
        	<li>All flights appear to start 4<sup>th</sup> August 2012 16:00</li>
        	<li>Some of the flight is cut off if the log is very big</li>
        	<li>Flight is undergound - <em>This is because of your GPS altitude data, and the 3<sup>rd</sup> party terrain data</em></li>
        	<li>Flight takes off / lands in the air - <em>This is because of your GPS altitude data, and the 3<sup>rd</sup> party terrain data</em></li>
      	</ul>
      	<p class="text-danger">You need WebGL for this map to work. It seems to work best in Chrome</p>
      	<p class="text-success">As ever, if you have any comments, problems, suggestions, etc, please <a href="/contact">contact me</a>!</p>
      	<p><a href="/map/<%= log.id %>" class="btn btn-lg btn-info btn-block">Click here to go to the 3D map</a></p>
      </div>
    </div>
  </div>
</div>
</div>

<%
scripts = '<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>' +
'<script language="javascript" type="text/javascript" src="/flot/jquery.flot.js"></script>' + 
'<script language="javascript" type="text/javascript" src="/flot/jquery.flot.resize.min.js"></script>' + 
'<script language="javascript" type="text/javascript" src="/flot/jquery.flot.navigate.js"></script>' +
'<script language="javascript" type="text/javascript" src="/flot/jquery.flot.crosshair.js"></script>' + 
'<script language="javascript" type="text/javascript" src="/flot/jquery.flot.selection.min.js"></script>' + 
//'<script language="javascript" type="text/javascript" src="/js/app.js?v=5"></script>'+
'<script>$(function() { app.init(); });</script>';
//'<script language="javascript" type="text/javascript" src="/view/' + log.id + '.js"></script>';
%>
