<%
  active = 'help'
  title = 'Help'
%>

<div class="container">
  <div class="page-header">
    <h1>Help</h1>
  </div>
    
    <p>
    	<a href="/help/errors">Common Errors</a>
  	</p>
  	<p>
  		<a href="/help/graphs">Graph Information</a>
	</p>
  
</div>