<%
  active = 'about'
  title = 'About'
%>

<div class="container">
  <div class="page-header">
    <h1>About ArduPlotter</h1>
  </div>
  
  <p>
    <a href="http://chrisrogers.me.uk">Chris Rogers</a> created this site whilst bored one weekend. It allows you to upload your dataflash
    logs from your ArduPilot (APM) and create pretty maps and graphs.
  </p>
  
  <h2>Suggestions</h2>
  <p>
    If you have any suggestions please don't hesitate to get in contact with me!
  </p>
  
  <h2>Thanks to</h2>
  <p>
    This site would not have been possible without the following open source projects:
  </p>
  <ul>
    <li>Bootstrap</li>
    <li>Bootswatch</li>
    <li>Node.js</li>
    <li>Sails.js</li>
    <li>jQuery</li>
    <li>Flot</li>
    <li>And of course, ArduPilot!</li>
  </ul>

  <p>I'd also like to quickly thank Dimitar Mitov who renamed his <a href="https://github.com/ddmitov/perl-arduino-plotter" target="_blank">Perl Arduino Plotter</a> which happened to be called Arduplotter!</p>

  <p><a href="/images/photo.png">Photo map icon</a> credits to <a href="http://mapicons.nicolasmollet.com/author/nico.mollet" target="_blank">Nicolas Mollet</a> (CC 3.0 BY-SA)</p>

  <h2>Source Code &amp; License</h2>

  <p>ArduPlotter is licensed up the MIT License.</p>
  <p>The source code can be found in the <a href="https://github.com/cosmorogers/arduplotter" target="_blank">GitHub repository</a></p>

</div>