<%
  active = 'about'
  title = 'About'
%>

<div class="container">
  <div class="page-header">
    <h1>About ArduPlotter</h1>
  </div>
  
  <p>
    <a href="http://chrisrogers.me.uk">Chris Rogers</a> created this site whilst bored one weekend. It allows you to upload your dataflash
    logs from your ArduPilot (APM) and create pretty maps and graphs.
  </p>
  
  <h2>Suggestions</h2>
  <p>
    If you have any suggestions please don't hesitate to get in contact with me!
  </p>
  
  <h2>Thanks to</h2>
  <p>
    This site would not have been possible without the following open source projects:
  </p>
  <ul>
    <li>Bootstrap</li>
    <li>Bootswatch</li>
    <li>Node.js</li>
    <li>Sails.js</li>
    <li>jQuery</li>
    <li>Flot</li>
    <li>And of course, ArduPilot!</li>
  <ul>
</div>