<%
  active = 'home'
  title = 'Home'
%>
<div class="jumbotron">
  <div class="container">
    <h1>ArduPlotter</h1>
    <p>Plot and graph your ArduPilot logs!</p>
    <p><a href="/upload" class="btn btn-primary btn-lg" role="button">Upload now</a></p>
  </div>
</div>