<%
  active = 'home'
  title = 'Home'
%>
<div class="jumbotron">
  <div class="container">
    <h1>ArduPlotter</h1>
    <p>Plot and graph your ArduPilot logs!</p>
    <p><a href="/upload" class="btn btn-primary btn-lg" role="button">Upload now</a></p>
  </div>
</div>
<div class="container">
	<div class="row text-center">
		<div class="col-sm-4">
			<div class="step step-1">1</div>
			<h2 class="text-info">Go flying</h2>
			<p>Go flying with your ArduPilot equipped drone.</p>
		</div>

		<div class="col-sm-4">
			<div class="step step-2">2</div>
			<h2 class="text-primary">Download logs</h2>
			<p>When you get back from flying, download your APM logs</p>
			<p><a class="btn btn-default" role="button" href="http://copter.ardupilot.com/wiki/downloading-and-analyzing-data-logs-in-mission-planner/#Downloading_logs_via_the_Terminal" target="_blank">How do I do that?</a></p>
		</div>

		<div class="col-sm-4">
			<div class="step step-3">3</div>
			<h2 class="text-success">Upload to ArduPlotter</h2>
			<p>And view lots of pretty graphs!</p>
			<p><a class="btn btn-default" role="button" href="/upload">Upload now!</a></p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="callout callout-danger">
				<h4>Under active development</h4>
				<p>Please note that this site is currently still under active development as I improve, fix and add new features. Therefore things may break from time to time. If you spot a problem, or have any suggestions for improvements, please get in touch!</p>
			</div>
		</div>
	</div>
</div>